@model DSTutorials1909.ViewModel.CourseViewModel


<div class="container">
    <div class="row mt-3mb-2">
        <div class="col-8">
            <h2 class="text-primary text-danger">Are you Sure You Want to Delete Content of ?</h2>
        </div>
    </div>
    <form method="post">
        <input asp-for="@Model.Content.ContentId" hidden />
        <div class="row mt-2 mb-2">
            <div class="col-2">
                <label asp-for="@Model.Content.CourseId" class="form-label"></label>
            </div>
            <div class="col-10">
                <input asp-for="@Model.Content.Courses.CourseName" class="form-control" disabled />
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-2">
                <label asp-for="@Model.Content.MenuId" class="form-label"></label>
            </div>
            <div class="col-10">
                <input asp-for="@Model.Content.Menu.MenuName" class="form-control" disabled />
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-2">
                <label asp-for="@Model.Content.SubMenuId" class="form-label"></label>
            </div>
            <div class="col-10">
                <input asp-for="@Model.Content.SubMenu.SubMenuName" class="form-control" disabled />
            </div>
        </div>
        
        <div class="row mt-2 mb-2">
            <div class="col-6 col-md-3 mt-3 mb-2">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
            <div class="col-6 col-md-3 mt-3 mb-2">
                <a asp-controller="Content" asp-action="Index" class="btn btn-outline-light form-control">Back To List</a>
            </div>
        </div>

    </form>
</div>

