@model DSTutorials1909.ViewModel.CourseViewModel

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-8">
            <h2 class="text-primary text-danger">Are you sure you want to Delete Course ?</h2>
        </div>
    </div>

    <div class="row mt-2 mb-2">
        <div class="col-9">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="@Model.Courses.CoursesId" hidden />
                <div class="row mt-2 mb-2">
                    <div class="col-2">
                        <label asp-for="@Model.Courses.CourseName" class="form-label"></label>
                    </div>
                    <div class="col-10">
                        <input disabled asp-for="@Model.Courses.CourseName" class="form-control" />
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-2">
                        <label asp-for="@Model.Courses.CourseDetails" class="form-label"></label>
                    </div>
                    <div class="col-10">
                        <input disabled asp-for="@Model.Courses.CourseDetails" class="form-control" />
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-2">
                        <label asp-for="@Model.Courses.CourseSequence" class="form-label"></label>
                    </div>
                    <div class="col-10">
                        <input disabled asp-for="@Model.Courses.CourseSequence" class="form-control" />
                    </div>
                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-6 col-md-3 mt-3 mb-2">
                        <input type="submit" value="Delete" class="btn btn-danger form-control" />
                    </div>
                    <div class="col-6 col-md-3 mt-3 mb-2">
                        <a asp-controller="Course" asp-action="Index" class="btn btn-outline-light form-control">Back To List</a>
                    </div>
                </div>


            </form>
        </div>
        <div class="col-3 mt-2 mb-2">
            <img src="@Model.Courses.CourseImage" style="width:50%;height:80%" class="rounded" />
        </div>
    </div>


</div>